html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color:white;
}
form {
    width: 95%;
    margin:auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#DCD427
}
@keyframes slideInTop {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}
h1{
    color: #F0F0F0;
    text-align: center;
    margin-bottom:20px;
    /* keyframe animation */
    animation: slideInTop 2s ease-in;
}
.btn {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
    transition: transform 0.3s ease 0s;
    border-width: 2px;
    background-color:black;
    color:white;
}
.btn:hover {
    transform: translateY(-5px);
}
#direction {
    font-style: italic;
    color:#0092CC;
}
legend {
    color:#969696;
    font-family: 'Times New Roman';
}
p {
    color:#FF3333;
    background-image: linear-gradient(85deg, white, blue);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 500ms ease-in;
}
p:hover {
    background-size: 100% 3px;
}